:root {
  --black: #000000;
  --blue: #28427B;
  --orange: #FCA311;
  --grey: #838383b3;
  --white: #FFFFFF;
}

.App {
  text-align: center;
  /* margin: 2rem; */
  color: var(--white);
  background-color: var(--grey);
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}
